body {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #F3F5FC
}

main {
    padding: 40px;
    height: calc( 100vh - 80px);
    display: flex;
    justify-content: flex-end;
    gap: 80px;
}

button {
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.alura-vector {
    position: absolute;
    left: 84px;
    top: 40px;
}

.decoder-container {
    width: 100%;
    padding: 128px 0px 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#decoder-text {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
    width: 100%;
    height: 80%;
    background-color: #F3F5FC;
    border: none;
    resize: none;
}

#decoder-text::placeholder {
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
    opacity: 1;
}

#decoder-text:focus {
    outline: none;
}

.decoder-container p {
    color: #495057;
    font-size: 12px;
    line-height: 18px;
}

.exclamation-vector {
    vertical-align: text-top;
    padding-right: 8px;
}

#button-filled {
    background-color: #0A3871;
    color: white;
    width: 326px;
    margin-right: 24px;
}

#button-filled:hover {
    transition: .1s;
    background-color: #052051;
    border: 1px solid #052051;
}

#button-empty {
    background-color: #F3F5FC;
    color: #0A3871;
    width: 326px;
}

.messages-container {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    padding: 32px 32px 32px 32px;
    text-align: center;
}

.messages-container h3 {
    margin: 31px 0px 0px;
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
}

.messages-container p {
    color: #495057;
    font-size: 16px;
    line-height: 24px;
}

#message-not-found {
    display: block;
}

#message-found {
    flex: 1;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

#message-found  p {
    margin-top: 0px;
    flex: 1;
    text-align: left;
    font-size: 24px;
    color: #495057;
    line-height: 36px;
    word-wrap: break-word;
    overflow-y: auto;
}

#button-white {
    margin-top: auto;
    background-color: white;
    color: #0A3871;
    width: 340px;
}

#button-white:hover, #button-empty:hover {
    transition: .1s;
    background-color: #0A3871;
    color: white;
}

footer {
    text-align: center;
    font-size: 13px;
    background-color: #0A3871 ;
}

footer p {
    margin: 0px;
    padding: 10px;
    color: white;
}

.github-vector svg {
    height: 20px;
    vertical-align: middle;
    padding-left: 10px;
}